/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Обнуление                                        */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

* {
	padding: 0;
	margin: 0;
	border: 0;
  }
  *,
  *:before,
  *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  :focus,
  :active {
	outline: none;
  }
  a:focus,
  a:active {
	outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
	display: block;
  }
  
  html {
	height: 100%;
	width: 100%;
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow-x:hidden;
  }

  body {
	width: 100%;
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow-x:hidden;
  }
  
  
  input,
  button,
  textarea {
	font-family: inherit;
  }
  
  input::-ms-clear {
	display: none;
  }
  button {
	cursor: pointer;
  }
  button::-moz-focus-inner {
	padding: 0;
	border: 0;
  }
  a,
  a:visited {
	text-decoration: none;
  }
  a:hover {
	text-decoration: none;
  }
  ul li {
	list-style: none;
  }

  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-size: inherit;
	font-weight: 400;
  }
  
  .bigred {
	font-size: 20px;
	color: red;
  }



body {
  font-family: 'Montserrat', sans-serif;
	font-size: 1.2vw;
	transition: transform 1000ms;
	user-select: none; /* Не даёт взаимодействовать с текстом */
	background-color: #f6f6f6;
}


/* Typography */
/**************************/
h2 {font-size:1.3vw; font-weight:400; letter-spacing:0.3vw; text-transform: uppercase; color:#3f3f3f; display:none;}
h3 {font-size:2.4vw; font-weight:300; letter-spacing:0.4vw; text-transform: uppercase; color:#f4f4f4; line-height: 4vw;
text-align: center; transform: translate(0px, 1.5vw);
opacity: 0;
transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);}


h3._active {font-size:2.4vw; font-weight:300; letter-spacing:0.4vw; text-transform: uppercase; color:#f4f4f4; line-height: 4vw;
  text-align: center; transform: translate(0px, 0vw);
  opacity: 1;
  transition: all 1.3s cubic-bezier(0.16, 1, 0.3, 1);}


/* Section - Title */
/**************************/
.title {background: #f6f6f6; margin:0 auto; text-align:center;display: block;width: 100%;}
.title2 {background: #f6f6f6;  margin:0 auto; text-align:center;display: block;width: 100%;}


/* Section - Parallax */
/**************************/
.parallax-one {overflow: hidden; display: block;
  position: relative; width: 100%; background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1625246333195-78d9c38ad449?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1440&q=100); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}
.parallax-two {padding-top: 7vw; padding-bottom: 7vw; overflow: hidden; 
  position: relative; width: 100%; background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1568581789190-ae90a7da930b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=100); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}
.parallax-three {padding-top: 7vw; padding-bottom: 7vw; overflow: hidden; 
  position: relative; width: 100%; background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1566765854606-372e7bdee473?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1440&q=100); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}


header {
  height: 56vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 4vw;
}

.block, .block1 {
  margin-top: 8vw;
  margin-bottom: 8vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.block1 {
  margin-top: 0;
}


.alt_block {
  margin-top: 8vw;
  margin-bottom: 8vw;
  display: flex;
  flex-wrap: wrap;
}

.premier_block {
  margin-top: 8vw;
  /* margin-bottom: 8vw; */
  display: flex;
}

.block_argument {
  align-self: center;
  width: 50%;
  padding-left: 8vw;
  padding-right: 8vw;
}

.alt_block_argument {
  align-self: center;
  width: 50%;
  padding-left: 8vw;
  padding-right: 8vw;
}

.premier_block_argument {
  align-self: center;
  width: 100%;
  text-align: center;
}


.before_argument {
  font-size: 1.4vw;
  font-weight: 400; 
  color: #bdb76b;
  align-self: center;
  letter-spacing: 0.1vw;

  transform: translate(0px, 3vw);
  opacity: 0;
  transition: all 1.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.before_argument._active {
  transform: translate(0px, 0vw);
  opacity: 1;
}


.argument {
  font-size: 2.4vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  font-weight: 300; 
  color: #3f3f3f;
  letter-spacing: 0.1vw;

  transform: translate(0px, 5vw);
  opacity: 0;
  transition: all 1.8s cubic-bezier(0.16, 1, 0.3, 1);
}

.argument._active {
  transform: translate(0px, 0vw);
  opacity: 1;
}

.after_argument {
  font-size: 1.2vw;
  font-weight: 400; 
  color: #7f7f7f;
  letter-spacing: 0.02vw;
  word-spacing: 0.2vw;

  transform: translate(0px, 5vw);
  opacity: 0;
  transition: all 1.8s cubic-bezier(0.16, 1, 0.3, 1);
}

.after_argument._active {
  transform: translate(0px, 0vw);
  opacity: 1;
}

.prime_argument {
  font-size: 2.4vw;
  padding-bottom: 2vw;
  font-weight: 300; 
  color: #3f3f3f;
  letter-spacing: 0.1vw;
}



.prime_after_argument {
  font-size: 1.2vw;
  font-weight: 400; 
  color: #7f7f7f;
  letter-spacing: 0.02vw;
  word-spacing: 0.2vw;
}

.postIMG{
  min-height: 35vw;
  width: 50%;
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
	border-radius: 60vw 5vw 60vw 5vw;

  /* transform: translate(3vw, 0vw);
  opacity: 0;
  transition: all 1.2s cubic-bezier(0.16, 1, 0.3, 1); */
}

 /* .postIMG._active {
  transform: translate(0px, 0vw);
  opacity: 1;
}  */

.alt_postIMG{
  min-height: 35vw;
  width: 50%;
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
border-radius: 5vw 60vw 5vw 60vw;
  /* filter: brightness(1);
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1); */
}

/* .alt_postIMG._active {
	opacity: 1;
  filter: none;
}  */

.parallax-one {
  display: flex;
  justify-content: center;
  height: 56vw;
  align-items: center;
  /* transition: all 1800ms cubic-bezier(0.16, 1, 0.3, 1); */
}

.parallax-two {
  display: flex;
  justify-content: center;
  height: 35vw;
  align-items: center;
  /* transition: all 1800ms cubic-bezier(0.16, 1, 0.3, 1); */
}

.parallax-three {
  display: flex;
  justify-content: center;
  height: 24vw;
  align-items: center;
  margin-top: 5vw;
  /* transition: all 1800ms cubic-bezier(0.16, 1, 0.3, 1); */
}
/* 
.parallax-one:hover {
  filter: none;
} */

.parallax-one img{
 height: 56vw;
}

/* 
.product {
  display: flex;
  justify-content: space-evenly;
}



.card {
position: relative;
width: 600px;
height: 350px;

display: flex;
align-items: center;
transition: 0.5s;

}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.card .circle::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d5d5d5;
    clip-path: circle(120px at center);
    transition: 0.5s;
}


.card:hover .circle::before 
{
    background: #f6f6f6;
    clip-path: circle(400px at center);
}

.card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    pointer-events: none;
    transition: 0.5s;
}

.card:hover img {
    left: 85%;
    bottom: 10%;
    height: 150px;

}

.card .content {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.card .content h4 {
  font-size: 2.4vw;
  padding-bottom: 2vw;
  font-weight: 300; 
  color: #3f3f3f;
  width: 30vw;
  letter-spacing: 0.1vw;
}

.card .content p {
  font-size: 1.2vw;
  padding-bottom: 2vw;
  font-weight: 400; 
  color: #7f7f7f;
  width: 30vw;
  letter-spacing: 0.02vw;
  word-spacing: 0.2vw;
}

.card .content a {
    position: relative;
    color: aliceblue;
    padding: 10px 20px;
    background: #fff;
    color: black;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 300;
}


.card .circle2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.card .circle2::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d5d5d5;
  clip-path: circle(120px at center);
  transition: 0.5s;
}


.card:hover .circle2::before 
{
  background: #f6f6f6;
  clip-path: circle(400px at center);
}


.section-header {
  display: block;
  position: relative;
  text-align: center;
} */

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Слайдер                                          */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

.micro-slider {
  height: 38vw;
  position: relative;
  width: 100%;
}

.slider-wrapper {
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 0 50%;
}

.slider-item {
  background: #f6f6f6;
  color: #FFF;
  display: none;
  height: 25vw;
  line-height: 25vw;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 25vw;
  cursor: grab;
}


.s1, .s2, .s3, .s4, .s5, .s6
{background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}




::-webkit-scrollbar {
  width: 0.6vw;
  z-index: 4;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #c13d17, #c13d17);
  z-index: 40;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  z-index: 40;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Счётчик                                          */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

  h5 {
    font-size: 2.4vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-weight: 300; 
    color: #3f3f3f;
    letter-spacing: 0.1vw;
  }
  
  .container__timer {
    color: #3f3f3f;
    margin: 0 auto;
    text-align: center;
  }
  
  
  li {
    display: inline-block;
    font-size: 1.7vw;
    list-style-type: none;
    padding: 2vw;
    text-transform: uppercase;
  }
  
  li div {
    display: block;
    font-size: 5vw;
  }


/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Текст вокруг курсор    (уходит за пределы)       */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* 
.text {
  position: absolute;
  color: #3f3f3f;
  font-size: 0.6vw;
  user-select: none;
  pointer-events: none;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0%
  {
    transform: rotate(360deg);
  }
  100% 
  {
    transform: rotate(0deg);
  }
}

.text span {
  display: inline-block;
  position: absolute;
  top: -4vw;
  text-transform: uppercase;
  transform-origin: 0 4vw;

	
} */


/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Адаптив                                          */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/


@media screen  and (max-width: 576px) {


  body {
    font-size: 2.8vw;
  }
  


  h2 {font-size:3.1vw; font-weight:400; letter-spacing:0.7vw; }
  h3 {font-size:5.7vw; font-weight:300; letter-spacing:0.9vw; line-height: 9.6vw;
  transform: translate(0px, 3.6vw);}
  
  
  h3._active {font-size:5.7vw; font-weight:300; letter-spacing:0.9vw; line-height: 9vw;}
  
    .title, .title2 {display: none}

  .parallax-two {padding-top: 16vw; padding-bottom: 16vw;}
  .parallax-three {padding-top: 16vw; padding-bottom: 16vw;}
  
  
  header {
    height: 56vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .block, .block1 {
    margin-top: 0vw;
    margin-bottom: 0vw;
    display: flex;
    background-color: #f6f6f6;
  }
  
  .block1 {
    margin-top: 0;
  }
  
  
  .alt_block {
    margin-top: 0vw;
    margin-bottom: 0vw;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .premier_block {
    margin-top: 19vw;
    display: flex;
  }
  

  .block_argument {
    align-self: center;
    width: 100%;
    padding: 18vw;
  }
  
  .alt_block_argument {
    align-self: center;
    width: 100%;
    padding: 18vw;
  }
  
  .premier_block_argument {
    align-self: center;
    width: 100%;
    text-align: center;
  }
  
  
  .before_argument {
    font-size: 3.6vw;
    font-weight: 400; 
    color: #bdb76b;
    align-self: center;
    width: 72vw;
    letter-spacing: 0.4vw;
  }
  
  
  .argument {
    font-size: 6vw;
    padding-top: 4.8vw;
    padding-bottom: 4.8vw;
    font-weight: 300; 
    color: #3f3f3f;
    letter-spacing: 0.2vw;
  }
  
  .prime_argument {
    font-size: 6vw;
    padding-bottom: 4.8vw;
    font-weight: 300; 
    color: #3f3f3f;
    letter-spacing: 0.2vw;
  }
  
  .after_argument {
    font-size: 3.1vw;
    font-weight: 400; 
    color: #7f7f7f;
    letter-spacing: 0.04vw;
    word-spacing: 0.4vw;
  }
  
  .prime_after_argument {
    font-size: 3.1vw;
    font-weight: 400; 
    color: #7f7f7f;
    letter-spacing: 0.04vw;
    word-spacing: 0.4vw;
  }
  
  .postIMG{
    min-height: 75vw;
    width: 100%;
    border-radius: 0vw 0vw 0vw 0vw;
  }
  
  
  .alt_postIMG{
    min-height: 75vw;
    width: 100%;
    border-radius: 0vw 0vw 0vw 0vw;
  }
  
  .parallax-one {
    display: flex;
    justify-content: center;
    height: 56vw;
    align-items: center;
  }
  
  .parallax-two {
    display: none;  
/*  display: flex;
    justify-content: center;
    height: 75vw;
    align-items: center;
    margin-bottom: 0vw; */
  }
  
  .parallax-three {
    display: flex;
    justify-content: center;
    height: 50vw;
    align-items: center;
    margin-top: 12vw;
  }

  
  .parallax-one img{
    height: 56vw;
  }

  h5 {
    font-size: 5vw;
    padding-top: 4.8vw;
    padding-bottom: 4.8vw;
    letter-spacing: 0.2vw;
  }
  
  li {
    font-size: 3.1vw;
    padding: 3.2vw;
  }
  
  li div {
    font-size: 9.6vw;
  }

  .micro-slider {
    height: 91vw;
    user-select: none;
  }
  
  .slider-item {
    height: 60vw;
    line-height: 60vw;
    width: 60vw;
    display: none;
  }

  .text {
    display: none;
  }
  
  .text span {
    display: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
